@model AugustCohortPresentationDemo.Models.GameNightVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameNight</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <div class="col-lg-3" align="right">
        <table class="table table-condensed table-striped table-bordered right" Style="width: 60%">
            <tr>
                <th> Name </th>
                <th style="text-align: center"> Attend </th>
            </tr>
            <tbody>
                @for (int i = 0; i < @Model.Name.Count; i++)
            {
                    <tr>
                        <td class="col-lg-6"> @Model.Name[i] </td>
                        <td class="col-lg-6" style="color: @(Model.Attend[i] == "YES" ? "DodgerBlue" : "Black"); text-align: center"> @Model.Attend[i] </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="container" class="col-lg-6" style="width: 50%; height: 400px;">
        <script>
            $(function () {
                $('#container').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: 0,
                        plotShadow: false
                    },
                    title: {
                        text: 'GameNight <br> Attendance',
                        align: 'center',
                        verticalAlign: 'middle',
                        y: 40
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            dataLabels: {
                                enabled: true,
                                distance: -50,
                                style: {
                                    fontWeight: 'bold',
                                    color: 'white',
                                    textShadow: '0px 1px 2px black'
                                }
                            },
                            startAngle: -90,
                            endAngle: 90,
                            center: ['50%', '75%']
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Attend',
                        innerSize: '50%',
                        data: [
                            ['Yes', 53],
                            ['No', 47],
                            {
                                name: 'Proprietary or Undetectable',
                                y: 0.2,
                                dataLabels: {
                                    enabled: false
                                }
                            }
                        ]
                    }]
                });
            });
        </script>
    </div>
</body>
</html>
