
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
<div>
    <h1> August C# Cohort Query </h1>
    <ul>
        <li> <h2> @Html.ActionLink("Gender Breakdown", "GenderBreakdown", "Home") </h2> </li>
        <li> <h2> @Html.ActionLink("Residential Status", "ResidentialStatus", "Home") </h2> </li>
        <li> <h2> @Html.ActionLink("Game Night Attendance", "GameNight", "Home")  </h2> </li>
        <li> <h2> @Html.ActionLink("Your Programming level? From 1 to 9000", "ProgrammingLevel", "Home")  </h2> </li>
    </ul>

</div>
</body>
</html>
